@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
:active,
:focus {
  outline: 0
}
a:active,
a:focus {
  outline: 0
}
aside,
footer,
header,
nav,
section {
  display: block
}
body,
html {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden
}
body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}
button,
input,
textarea {
  font-family: inherit
}
textarea {
  resize: none
}
input::-ms-clear {
  display: none
}
button {
  cursor: pointer;
  font-family: inherit
}
button::-moz-focus-inner {
  padding: 0;
  border: 0
}
a {
  color: inherit
}
a,
a:visited {
  text-decoration: none
}
a:hover {
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
div {
  display: block
}
.hidden {
  display: none!important
}
body.lock,
html.lock,
html.lock body {
  overflow: hidden
}
body {
  font-family: Inter,-apple-system,BlinkMacSystemFont,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  position: relative;
  background-color: #fff
}
.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}
.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0 24px
}
@media (max-width:989px) {
  .container {
    padding: 0 12px
  }
}
.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
  padding: 24px
}
@media (max-width:989px) {
  .header {
    padding: 12px
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px
}
@media (max-width:989px) {
  .header__logo {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
}
.header__update {
  font-size: .833rem;
  line-height: 1.4;
  color: #757688
}
@media (max-width:989px) {
  .header__update {
    text-align: right
  }
}
@media (max-width:989px) {
  .header__filter-btn {
    display: none!important
  }
}
.logo {
  font-size: 1.728rem;
  font-weight: 700
}
@media (max-width:989px) {
  .logo {
    font-size: 1.44rem
  }
}
@media (hover:hover) {
  .logo:hover {
    text-decoration: underline
  }
}
.table-data {
  width: 100%;
  margin: 0 auto;
  height: 710px;
  border-radius: 6px;
  background: #f7f8f9;
  padding-bottom: 18px;
  -webkit-overflow-scrolling: touch;
  border: 1px solid #e6ebf2
}
@media (max-width:989px) {
  .table-data {
    height: 462px
  }
}
.table-data a {
  text-decoration: underline
}
@media (hover:hover) {
  .table-data a:hover {
    text-decoration: none
  }
}
.table-data table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content);
  -ms-grid-columns: 200px minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content);
  grid-template-columns: 200px minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content);
  grid-template-columns: 200px minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content);
  font-size: .833rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-collapse: collapse
}
@media (max-width:989px) {
  .table-data table {
    -ms-grid-columns: 165px minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content);
    -ms-grid-columns: 165px minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content);
    grid-template-columns: 165px minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content) minmax(-webkit-max-content,-webkit-max-content);
    grid-template-columns: 165px minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content) minmax(max-content,max-content)
  }
}
.table-data tbody,
.table-data thead,
.table-data tr {
  display: contents
}
.table-data td,
.table-data th {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s
}
.table-data td {
  padding: 6px 16px
}
@media (max-width:989px) {
  .table-data td {
    padding: 6px 12px
  }
}
.table-data th {
  color: #757688;
  position: sticky;
  padding: 17px 16px;
  top: 0;
  z-index: 1;
  font-weight: 600;
  background: #e6ebf2
}
@media (max-width:989px) {
  .table-data th {
    padding: 12px 12px
  }
}
.table-data .highlight {
  color: #ec4867;
  font-weight: 600
}
.table-data tbody > tr:hover td {
  background-color: #e6ebf2
}
.simplebar-scrollbar:before {
  background-color: #c1c7d0;
  opacity: 1!important
}
@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
.btn-blue {
  position: relative;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  height: 40px;
  padding: 12px 24px;
  line-height: 16px;
  text-align: center;
  font-size: .833rem;
  font-weight: 600;
  border-radius: 4px;
  white-space: nowrap;
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  color: #fff;
  background-color: #474dff
}
@media (hover:hover) {
  .btn-blue:hover {
    opacity: .8
  }
}
.btn-blue:active {
  background-color: rgb(20,27.6630434783,255);
  opacity: .8
}
.btn-red {
  position: relative;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  height: 40px;
  padding: 12px 24px;
  line-height: 16px;
  text-align: center;
  font-size: .833rem;
  font-weight: 600;
  border-radius: 4px;
  white-space: nowrap;
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  color: #fff;
  background-color: #ec4867
}
@media (hover:hover) {
  .btn-red:hover {
    opacity: .8
  }
}
.btn-red:active {
  background-color: rgb(231.202970297,25.797029703,64.6237623762);
  opacity: .8
}
.btn-light-red {
  position: relative;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
  height: 40px;
  padding: 12px 24px;
  line-height: 16px;
  text-align: center;
  font-size: .833rem;
  font-weight: 600;
  border-radius: 4px;
  white-space: nowrap;
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  color: #000;
  background-color: rgba(236,72,103,.15)
}
@media (hover:hover) {
  .btn-light-red:hover {
    background-color: rgba(236,72,103,.3)
  }
}
.btn-light-red:active {
  background-color: rgba(236,72,103,.4)
}
@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
.checkbox {
  position: relative;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 8px;
  font-size: 14px
}
.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0)
}
.checkbox__input:checked + .checkbox__custom::before {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEyIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik00LjcxMjExIDguODI2NjJDNC42MDcxMSA4LjkzNzkxIDQuNDYzODUgOSA0LjMxNTAzIDlDNC4xNjYyMiA5IDQuMDIyOTYgOC45Mzc5MSAzLjkxNzk2IDguODI2NjJMMC43NDY4MjEgNS40ODQ2NUMwLjQxNzcyNiA1LjEzNzg5IDAuNDE3NzI2IDQuNTc1NTggMC43NDY4MjEgNC4yMjk0N0wxLjE0Mzg5IDMuODEwOTZDMS40NzMwOSAzLjQ2NDIgMi4wMDYxMiAzLjQ2NDIgMi4zMzUyMiAzLjgxMDk2TDQuMzE1MDMgNS44OTcyTDkuNjY0NzggMC4yNjAwNzVDOS45OTM5OCAtMC4wODY2OTE2IDEwLjUyNzUgLTAuMDg2NjkxNiAxMC44NTYxIDAuMjYwMDc1TDExLjI1MzIgMC42Nzg1NzlDMTEuNTgyMyAxLjAyNTM1IDExLjU4MjMgMS41ODc1NCAxMS4yNTMyIDEuOTMzNzdMNC43MTIxMSA4LjgyNjYyWiIgZmlsbD0iIzVFN0VGRiIvPgo8L3N2Zz4K);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.checkbox__input:disabled + .checkbox__custom,
.checkbox__input:disabled ~ .checkbox__text {
  opacity: .25
}
.checkbox__custom {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: block;
  position: relative;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px
}
.checkbox__text {
  color: #000
}
@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
.filter {
  width: 300px;
  position: fixed;
  right: -320px;
  top: 0;
  height: 100%;
  -webkit-box-shadow: -2px 0 24px 0 rgba(0,0,0,.14);
  box-shadow: -2px 0 24px 0 rgba(0,0,0,.14);
  background: #fff;
  z-index: 5;
  padding: 24px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s
}
.filter.open {
  right: 0
}
.filter__close {
  margin-top: 16px;
  width: 100%
}
@media (max-width:989px) {
  .filter__close {
    display: none
  }
}
.filter__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 24px
}
.filter__calendar {
  height: 48px;
  width: 100%
}
.filter__label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px
}
.filter__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 12px
}
.filter__cheks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px
}
.filter__clear {
  margin-top: 24px;
  width: 100%
}
@media (max-width:989px) {
  .filter__clear {
    width: 176px
  }
}
.filter-mob-btn {
  display: none
}
@media (max-width:989px) {
  .filter-mob-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    right: 12px;
    bottom: 12px;
    width: 64px;
    height: 64px;
    border-radius: 100px;
    background-color: #474dff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkuMzMzMzMgMjFIMTQuNjY2N1YxOC4zMzMzSDkuMzMzMzNWMjFaTTAgNVY3LjY2NjY3SDI0VjVIMFpNNCAxNC4zMzMzSDIwVjExLjY2NjdINFYxNC4zMzMzWiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s
  }
  .filter-mob-btn.open {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjkwNjUgOUwxNy44NTk4IDE1Ljk1MzNDMTguMDQ2NyAxNi4xNDAyIDE4LjA0NjcgMTYuMzQ1OCAxNy44NTk4IDE2LjU3MDFMMTYuNTcwMSAxNy44NTk4QzE2LjM0NTggMTguMDQ2NyAxNi4xNDAyIDE4LjA0NjcgMTUuOTUzMyAxNy44NTk4TDE0Ljc3NTcgMTYuNjI2Mkw5IDEwLjkwNjVMMi4wNDY3MyAxNy44NTk4QzEuODU5ODEgMTguMDQ2NyAxLjY1NDIxIDE4LjA0NjcgMS40Mjk5MSAxNy44NTk4TDAuMTQwMTg3IDE2LjU3MDFDLTAuMDQ2NzI5IDE2LjM0NTggLTAuMDQ2NzI5IDE2LjE0MDIgMC4xNDAxODcgMTUuOTUzM0w3LjA5MzQ2IDlMMC4xNDAxODcgMi4wNDY3M0MtMC4wNDY3MjkgMS44NTk4MSAtMC4wNDY3MjkgMS42NTQyMSAwLjE0MDE4NyAxLjQyOTkxTDEuNDI5OTEgMC4xNDAxODdDMS42NTQyMSAtMC4wNDY3MjkgMS44NTk4MSAtMC4wNDY3MjkgMi4wNDY3MyAwLjE0MDE4N0w5IDcuMDkzNDZMMTUuOTUzMyAwLjE0MDE4N0MxNi4xNDAyIC0wLjA0NjcyOSAxNi4zNDU4IC0wLjA0NjcyOSAxNi41NzAxIDAuMTQwMTg3TDE3Ljg1OTggMS40Mjk5MUMxOC4wNDY3IDEuNjU0MjEgMTguMDQ2NyAxLjg1OTgxIDE3Ljg1OTggMi4wNDY3M0wxNi42MjYyIDMuMjI0M0wxMC45MDY1IDlaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K)
  }
  .filter-mob-btn:active {
    background-color: rgb(20,27.6630434783,255)
  }
}
.flatpickr-calendar {
  font-family: Inter,-apple-system,BlinkMacSystemFont,Arial,sans-serif!important
}
.flatpickr-day.endRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.endRange.nextMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.endRange:focus,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected,
.flatpickr-day.selected.inRange,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.selected:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.startRange:focus,
.flatpickr-day.startRange:hover {
  background-color: #474dff;
  border-color: #474dff
}
.flatpickr-day.today {
  border-color: #000
}
@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
.form button {
  width: 100%
}
.input {
  position: relative;
  width: 100%
}
.input input,
.input textarea {
  width: 100%;
  height: 44px;
  border: 1px solid #cacaca;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  padding: 12px
}
.input input::-webkit-input-placeholder {
  color: #b6b7c6
}
.input input::-moz-placeholder {
  color: #b6b7c6
}
.input input:-ms-input-placeholder {
  color: #b6b7c6
}
.input input::-ms-input-placeholder {
  color: #b6b7c6
}
.input input::placeholder {
  color: #b6b7c6
}